### Git template
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### dotenv template
.env

### Django template
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
app_files/media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

app_contacts/migrations
app_download/migrations
app_main/migrations
app_notes/migrations
app_sort/migrations
users/migrations
poetry.lock


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

#PostgreSQL Data files
.postgres-data/

# Scrapy stuff:
.scrapy

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User personal files and folders
*.rar
*.zip
