.contact-icon {
    list-style-image: url('../images/contact-ico-small.svg');
}
.contact-icon img {
    width: 20px;
    height: 20px;
}
.contact-icon li {
    padding-left: 5px;
}

.birthday-icon {
    list-style-image: url('../images/birthday-ico-small.svg');
}
.birthday-icon img {
    width: 20px;
    height: 20px;
}
.birthday-icon li {
    padding-left: 5px;
}
.birthday-icon-pass {
    list-style-image: url('../images/birthday-ico-pass-small.svg');
}
.birthday-icon img {
    width: 20px;
    height: 20px;
}
.birthday-icon li {
    padding-left: 5px;
}

