.contacts-contact-icon {
    list-style-image: url("../images/contact-ico-small.5aab3cbba3fc.svg");
}
.contacts-contact-icon img {
    width: 20px;
    height: 20px;
}
.contacts-contact-icon li {
    padding-left: 5px;
}

.contacts-birthday-icon {
    list-style-image: url("../images/birthday-ico-small.9879a721c690.svg");
}
.contacts-birthday-icon img {
    width: 20px;
    height: 20px;
}
.contacts-birthday-icon li {
    padding-left: 5px;
}