{% extends 'app_main/base.html' %}

{% block notes %}
{% load static %}

<section id="five" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Add a note</h2>

        <a href="/app_notes" class="button small">to the list of notes</a>

        <div class="form-block">
            <br>
            <form method="POST" action="{% url 'app_notes:note' %}">
                {% csrf_token %}
                <div class="row gtr-uniform">
                    <div class="col-6">
                        <label> Name:
                            {{ form.title }}
                        </label>
                    </div>
                    <span>{{ form.errors.title }}</span>

                    <div class="col-6">
                        <label> Description:
                            {{ form.body }}
                        </label>
                    </div>
                    <span>{{ form.errors.body }}</span>

                    <div class="col-6">
                        <label> Select Tags:
                            <select name="tags" multiple="multiple" size="5">
                                {% for tag in tags %}
                                <option value="{{tag.name}}">{{tag.name}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="primary">Save</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

{% endblock %}