{% extends 'app_main/base.html' %}

{% block notes %}
{% load static %}

<section id="five" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Add a Tag</h2>

        <a href="/app_notes" class="button small">to the list of notes</a>

        <div class="form-block">
            <br>
            <div class="text-center">
                <form method="POST" action="{% url 'app_notes:tag' %}">
                    <div class="row gtr-uniform">
                        {% csrf_token %}
                        <div class="col-6">
                            <label>Enter the Tag Name:
                                {{form.name}}
                            </label>
                        </div>
                    </div>
                    <span>{{ form.errors.name }}</span>
                    <div class="col-12">
                        <br>
                        <button type="submit" class="primary">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

{% endblock %}