{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<section id="about" class="wrapper style2 spotlights">
    <section>
        <a href="https://github.com/CodeCraftSerg" class="image" target="_blank" rel="nofollow noopener noreferrer">
            <img src="{% static 'app_main/img_team/Serhii.jpg' %}" alt="Serhii" data-position="center center"/>
            <!--<img src="{% static 'app_main/images/pic01.jpg' %}" alt="Serhii" data-position="center center"/>-->
        </a>
        <div class="content">
            <div class="inner">
                <h2>Serhii</h2>
                <p>Team Lead of the project.
                    Developed the project's structure, starting template, and user authorization. Finalized the
                    front-end adaptation of the application.
                </p>
                <ul class="actions">
                    <li>
                        <a href="https://github.com/CodeCraftSerg" class="button" target="_blank" rel="nofollow noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="https://github.com/HelgaTsar" class="image" target="_blank" rel="nofollow noopener noreferrer">
            <img src="{% static 'app_main/img_team/Olha.jpg' %}" alt="Olha" data-position="top center"/>
            <!--<img src="{% static 'app_main/images/pic02.jpg' %}" alt="Olha" data-position="top center"/>-->
        </a>
        <div class="content">
            <div class="inner">
                <h2>Olha</h2>
                <p>Scrum Master of the project.
                    Organized team meetings and developed the news section.</p>
                <ul class="actions">
                    <li>
                        <a href="https://github.com/HelgaTsar" class="button" target="_blank" rel="nofollow noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="https://github.com/ShuguruiUA" class="image" target="_blank" rel="nofollow noopener noreferrer">
            <img src="{% static 'app_main/img_team/Iurii.jpg' %}" alt="Iurii" data-position="25% 25%"/>
            <!--<img src="{% static 'app_main/images/pic03.jpg' %}" alt="Iurii" data-position="25% 25%"/>-->
        </a>
        <div class="content">
            <div class="inner">
                <h2>Iurii</h2>
                <p>Project developer.
                    Developed the contacts section for users.</p>
                <ul class="actions">
                    <li>
                        <a href="https://github.com/ShuguruiUA" class="button" target="_blank" rel="nofollow noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="https://github.com/Krisiris250592" class="image" target="_blank" rel="nofollow noopener noreferrer">
            <img src="{% static 'app_main/img_team/Kris.jpg' %}" alt="Kris" data-position="center center"/>
            <!--<img src="{% static 'app_main/images/pic04.jpg' %}" alt="Kris" data-position="center center"/>-->
        </a>
        <div class="content">
            <div class="inner">
                <h2>Kris</h2>
                <p>Project developer.
                    Developed the notes section for users.</p>
                <ul class="actions">
                    <li>
                        <a href="https://github.com/Krisiris250592" class="button" target="_blank" rel="nofollow noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="https://github.com/xrendezvous" class="image" target="_blank" rel="nofollow noopener noreferrer">
            <img src="{% static 'app_main/img_team/Aryna.jpg' %}" alt="Aryna" data-position="top center"/>
            <!--<img src="{% static 'app_main/images/pic05.jpg' %}" alt="Aryna" data-position="top center"/>-->
        </a>
        <div class="content">
            <div class="inner">
                <h2>Aryna</h2>
                <p>Project developer.
                    Developed the files upload/download/sort section for users.</p>
                <ul class="actions">
                    <li>
                        <a href="https://github.com/xrendezvous" class="button" target="_blank" rel="nofollow noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

{% endblock %}