{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<section id="about" class="wrapper style2 spotlights">
    <section>
        <a href="#" class="image">
            <img src="{% static 'app_main/images/pic01.jpg' %}" alt="" data-position="center center"/>
        </a>
        <div class="content">
            <div class="inner">
                <h2>Sed ipsum dolor</h2>
                <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat
                    malesuada quis. Aliquam dapibus.</p>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image">
            <img src="{% static 'app_main/images/pic02.jpg' %}" alt="" data-position="top center"/>
        </a>
        <div class="content">
            <div class="inner">
                <h2>Feugiat consequat</h2>
                <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat
                    malesuada quis. Aliquam dapibus.</p>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image">
            <img src="{% static 'app_main/images/pic03.jpg' %}" alt="" data-position="25% 25%"/>
        </a>
        <div class="content">
            <div class="inner">
                <h2>Ultricies aliquam</h2>
                <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat
                    malesuada quis. Aliquam dapibus.</p>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>

{% endblock %}