<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'app_main/img/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'users/auth.css' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/slick.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'app_main/css/templatemo-style.css' %}">
    <title>Cloudy Contacts</title>
</head>
<body>
<video autoplay muted loop id="bg-video">
    <source src="{% static 'app_main/video/gfp-astro-timelapse.mp4' %}" type="video/mp4">
</video>
<div class="page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="cd-slider-nav">
                    <nav class="navbar navbar-expand-lg" id="tm-nav">
                        <a class="navbar-brand" href="{% url 'app_main:root' %}">Cloudy Contacts</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-supported-content">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item selected">
                                    <a class="nav-link" aria-current="page" href="{% url 'app_main:root' %}" data-no="1">Home</a>
                                    <div class="circle"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="2">About Team</a>
                                    <div class="circle"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="3">Members</a>
                                    <div class="circle"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="4">Contact</a>
                                    <div class="circle"></div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
<!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<script src="{% static 'app_main/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'app_main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app_main/js/slick.js' %}"></script>
<script src="{% static 'app_main/js/templatemo-script.js' %}"></script>
<script src="{% static 'users/auth.js' %}"></script>
</body>
</html>