<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Cloudy Contacts</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'app_main/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'app_main/css/noscript.css' %}"/>
    </noscript>
    <link rel="stylesheet" href="{% static 'app_main/css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'users/css/signout.css' %}"/>
    <link rel="stylesheet" href="{% static 'app_main/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app_contacts/css/contact.css' %}"/>

</head>
<body class="is-preload">

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                {% csrf_token %}
                <li><a href="{% url 'app_main:root' %}">Welcome</a></li>
                <li><a href="{% url 'app_contacts:contacts' %}">Contacts</a></li>
                <li><a href="{% url 'app_notes:notes' %}">Notes</a></li>
                <li><a href="{% url 'app_files:files_page' %}">Files</a></li>
                <li><a href="{% url 'app_news:news_page' %}">News</a></li>
                <li>
                    <form method="post" action="{% url 'users:signout' %}">
                        {% csrf_token %}
                        <a class="submit" href="#">Sign Out</a>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'app_main:root' %}">Welcome</a></li>
                <li><a href="{% url 'app_main:about_team' %}">About Team</a></li>
                <li><a href="{% url 'app_main:about_application' %}">About Application</a></li>
                <li><a href="{% url 'users:signin' %}">Sign In</a></li>
                <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    {% block intro %}
    {% endblock %}

    <!-- Auth -->
    {% block auth %}
    {% endblock %}

    <!-- PasswordReset -->
    {% block reset %}
    {% endblock %}

    <!-- Contacts -->
    {% block contacts %}
    {% endblock %}

    <!-- Notes -->
    {% block notes %}
    {% endblock %}

    <!-- Files Page -->
    {% block files_page %}
    {% endblock %}

    <!-- News Page -->
    {% block news_page %}
    {% endblock %}

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; The CloudyContacts. All rights reserved.</li>
            <li>Design: <a href="{% url 'app_main:root' %}">The Cloudy Contacts</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'app_main/js/jquery.min.js' %}"></script>
<script src="{% static 'app_main/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'app_main/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'app_main/js/browser.min.js' %}"></script>
<script src="{% static 'app_main/js/breakpoints.min.js' %}"></script>
<script src="{% static 'app_main/js/util.js' %}"></script>
<script src="{% static 'app_main/js/main.js' %}"></script>
<script src="{% static 'app_main/js/skycons.js' %}"></script>
<script src="{% static 'app_news/news.js' %}"></script>
<script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
    window.scrollTo(0, 1);
} </script>

</body>
</html>