{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Cloudy Contacts</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Learn more</a></li>
        </ul>
    </div>
</section>

{% endblock %}