{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>Cloudy Contacts</h1>
        <p>CloudyContacts is an application that allows you to store user contact information, notes, upload files to
            the cloud, and view news by category. To get started, please <a href="{% url 'users:signin' %}">sign in</a>
            or <a href="{% url 'users:signup' %}">sign up</a>.
        </p>

        <div class="grid-container">

            <div class="main-weather">
                <h2>Weather Now</h2>
                <div class="weather-info">
                    <div class="weather-current">
                        <h2>{{weather.city}}</h2>
                        <h3>Feels like {{weather.feelslike_weather}}°C</h3>
                    </div>
                    <div class="weather-icon">
                        <canvas id="clear-day" width="70" height="70"></canvas>
                        <img src="https://openweathermap.org/img/wn/{{weather.icon}}.png" alt="Image"
                             width="100px">
                    </div>
                    <div class="weather-temps">
                        <h4>Max {{weather.temperature_max}}°</h4>
                        <h2>{{weather.temperature}}°C</h2>
                        <h4>Min {{weather.temperature_min}}°</h4>
                    </div>
                </div>
            </div>

            <div class="main-currency">
                <h2>Exchange Rates</h2>
                <h4>(In the branches of Privatbank)</h4>
                <div class="currency-info">
                    {% for date, currencies in exchange_rates.items %}
                    <ul>
                        {% for currency, rate in currencies.items %}
                        <li><h3>{{ currency }}: {{ rate.purchase }} / {{ rate.sale }}</h3></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}