<form method="post">
    {% csrf_token %}
    <div class="form signup">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if form.errors and form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="form-header">
            <div class="show-signup">Sign Up</div>
            <div class="show-signin">Sign In</div>
            <div class="show-reset">Reset</div>
        </div>
        <div class="arrow"></div>
        <div class="form-elements">
            <div class="form-element">
                <input type="text" placeholder="Username" value="{{ form.username }}">
                <span>{{ form.errors.username }}</span>
            </div>
            <div class="form-element">
                <input type="email" placeholder="Email" value="{{ form.email }}">
                <span>{{ form.errors.email }}</span>
            </div>
            <div class="form-element">
                <input type="password" placeholder="Password" value="{{ form.password1 }}">
                <span>{{ form.errors.password1 }}</span>
            </div>
            <div class="form-element">
                <input type="password" placeholder="Confirm password" value="{{ form.password2 }}">
                <span>{{ form.errors.password2 }}</span>
            </div>
            <div class="form-element">
                <button id="submit-btn">Sign Up</button>
            </div>
        </div>
    </div>
</form>