{% extends 'app_main/base.html' %}

{% block news_page %}
{% load static %}

<section id="news_page" class="wrapper style1 fade-up">
    <div class="inner">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 style="margin: 0;">Culture News</h2>
            <a href="{% url 'app_news:news_page' %}" class="button" style="margin-right: 30px;">Back</a>
        </div>

        <div id="culture_news" style="margin: 20px 30px;">
            {% for news_item in culture_news %}
            <div class="news-item"
                 style="margin: 0 0 20px; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                <p><strong>{{ news_item.time }}</strong></p>
                <p><strong>{{ news_item.culture }}</strong>: {{ news_item.news }}</p>
                <p><a href="{{ news_item.url }}" class="button" target="_blank" rel="nofollow noopener noreferrer">Read
                    More</a></p>
            </div>
            {% empty %}
            <p>No culture news available</p>
            {% endfor %}
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            {% if culture_news.has_previous %}
            <a href="?page={{ culture_news.previous_page_number }}" class="button">Previous</a>
            {% endif %}
            <div style="margin-right: 30px; margin-left: auto;">
                {% if culture_news.has_next %}
                <a href="?page={{ culture_news.next_page_number }}" class="button">Next</a>
                {% endif %}
            </div>
        </div>

    </div>
</section>

<style>
    .news-item {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .news-item p {
        margin: 5px 0;
    }
</style>

{% endblock %}