{% extends 'app_main/base.html' %}

{% block contacts %}
{% load static %}

<section id="five" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Contact details:</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <h3>
            {% if contact.is_favorite %}
            <div>
                <img src="{% static 'app_main/images/favorite-ico.svg' %}" style="width: 20px; height: 20px;"/>
                {{contact.name}} {{contact.surname}}
            </div>
            {% else %}
            <div>
                <img src="{% static 'app_main/images/favorite-blank-ico.svg' %}"
                     style="width: 20px; height: 20px;"/> {{contact.name}} {{contact.surname}}
            </div>
            {% endif %}
        </h3>

        {% if contact.birthdate %}
        <div>
            <img src="{% static 'app_main/images/birthday-ico.svg' %}"
                 style="width: 20px; height: 20px;"/> {{contact.birthdate}}
        </div>
        {% endif %}
        {% if contact.email %}
        <div>
            <a href="mailto:{{contact.email}}" target="_blank">
                <img src="{% static 'app_main/images/email-ico.svg' %}" style="width: 20px; height: 20px;"/> </a>
            {{contact.email}}
        </div>
        {% endif %}
        {% if contact.mobile_phone %}
        <div>
            <img src="{% static 'app_main/images/mobile-ico.svg' %}" style="width: 20px; height: 20px;"/> Mobile:
            {{contact.mobile_phone}}
        </div>
        {% endif %}
        {% if contact.work_phone %}
        <div>
            <img src="{% static 'app_main/images/phone-ico.svg' %}" style="width: 20px; height: 20px;"/> Work:
            {{contact.work_phone}}
        </div>
        {% endif %}
        {% if contact.home_phone %}
        <div>
            <img src="{% static 'app_main/images/phone-ico.svg' %}" style="width: 20px; height: 20px;"/> Home:
            {{contact.home_phone}}
        </div>
        {% endif %}
        <div>
            {% if contact.facebook %}
            <a href="{{contact.facebook}}" target="_blank"><img src="{% static 'app_main/images/facebook-ico.svg' %}"
                                                                style="width: 20px; height: 20px;"/></a>
            {% endif %}
            {% if contact.instagram %}
            <a href="{{contact.instagram}}" target="_blank"><img src="{% static 'app_main/images/instagram-ico.svg' %}"
                                                                 style="width: 20px; height: 20px;"/></a>
            {% endif %}
            {% if contact.tiktok %}
            <a href="{{contact.tiktok}}" target="_blank"><img
                    src="{% static 'app_main/images/tiktok-ico.svg' %}"
                    style="width: 20px; height: 20px;"/></a>
            {% endif %}
        </div>
        <div>
            {% if address.address or address.city or address.country %}
            <a href="https://www.google.com/maps/search/
            {% if address.country %}{{address.country}}+{% endif %}
            {% if address.city %}{{address.city}}+{% endif %}
            {% if address.address %} {{address.address}}{% endif %}/"
               target="_blank">
                <img src="{% static 'app_main/images/address-ico.svg' %}" style="width: 20px; height: 20px;"/></a>
            {% endif %}

            {% if address.address %}
            {{address.address}}
            {% endif %}

            {% if address.city %}
            {{address.city}}
            {% endif %}

            {% if address.country %}
            {{address.country}}
            {% endif %}
            <p></p>
        </div>

        <nav>
            <div style="display: flex; align-items: center;">
                <div clas="col-6 col-12-xsmall">
                    {% csrf_token %}
                    <a href="{% url 'app_contacts:contact_update' contact.id %}" class="button">
                        Update
                    </a>
                </div>
                <div clas="col-6 col-12-xsmall" style="margin-right: 2%; margin-left: 2%">
                    {% csrf_token %}
                    <a href="{% url 'app_contacts:delete_contact' contact.id %}" class="button">
                        Delete
                    </a>
                </div>
                <div clas="col-6 col-12-xsmall">
                    <a href="{% url 'app_contacts:contacts' %}" class="button">
                        Back
                    </a>
                </div>
            </div>
        </nav>

    </div>
</section>

{% endblock %}